<link rel="stylesheet" href="/inter.css">
<link rel="stylesheet" href="/remixicon.css">
<style {{.NonceAttr}}>
:root {
	--color-primary: {{ .Theme.Primary }};
	--color-primary-accent: {{ .Theme.Accent }};
}
</style>
{{if .Assets.CSS}}
<link rel="stylesheet" href="{{ assetURL .Assets.CSS }}">{{end}}
<link rel="icon" href="/favicon.ico">
{{if .Assets.JS}}
<script type="module" defer src="{{ assetURL .Assets.JS }}"></script>{{end}}

