<template id="go-send-bg-template">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" preserveAspectRatio="xMidYMid slice" class="go-send-bg-svg">
		<!-- Base background rect -->
		<rect width="1920" height="1080" class="go-send-bg-base"/>

		<!-- Tiles will be added here by JavaScript -->
		<g class="go-send-bg-tiles"></g>
	</svg>
</template>
