<!--	Download layout: <download-layout> uses this to create a content slot. -->
<template id="download-layout">
	<section class="h-full w-full flex items-center justify-center px-4 py-8 bg-white dark:bg-grey-90">
		<div class="w-full max-w-[42rem] px-4 md:px-8 flex items-center justify-center">
			<div id="download-content" class="w-full"></div>
		</div>
	</section>
</template>
