<!-- Upload view: list on the right side (list of  uploaded files) -->
<template id="upload-list">
	<div class="h-full w-full overflow-y-auto p-2">
		<ul id="upload-list-container" class="space-y-4"></ul>
	</div>
</template>
