<template id="upload-file-details-item">
	<div class="flex items-center py-2">
		<i class="ri-file-line h-6 w-6 text-primary flex-shrink-0 text-2xl leading-6" data-role="file-icon"></i>
		<div class="px-3 flex-grow min-w-0">
			<div class="text-sm font-medium break-words" data-role="item-name"></div>
			<div class="text-xs opacity-75" data-role="item-size"></div>
		</div>
	</div>
</template>
