<!--
	Root template: <go-send> uses this to create a content slot.
	Layouts (upload-layout, download-layout, etc.) are inserted dynamically.
-->
<template id="go-send">
	<slot id="app-content"></slot>
</template>
