<body class="flex flex-col items-center md:h-screen bg-transparent">
	{{ block "header.gohtml" . }}{{ end }}
	{{ template "_app.gohtml" . }}
	{{ block "footer.gohtml" . }}{{ end }}
	{{ template "_background.gohtml" . }}
</body>

