<body class="flex flex-col items-center font-sans md:h-screen md:bg-grey-10 dark:bg-black">
	{{ block "header.gohtml" . }}{{ end }}
	{{ template "_app.gohtml" . }}
	{{ block "footer.gohtml" . }}{{ end }}
</body>

